@import '@common/styles/base';

.listTitle {
  display: flex;
  align-items: center;

  p {
    font-size: 1.2rem;
    font-weight: 500;
  }
  svg {
    margin: 5px 0 0 5px;
    cursor: pointer;
    height: 0.8rem;
    color: $font-gray;
  }
}
