@import '@common/styles/base';

.layout__root {
  max-width: 1000px;
  min-width: 730px;
  width: 100%;
  margin: 0 auto;
  padding-top: 24px;
  display: flex;
  flex-direction: column;

  .appbar__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
    padding: 0 0.8rem;

    img {
      display: block;
      width: 115px;
      height: 30px;
    }

    .appbar__link {
      cursor: pointer;
    }

    .appbar__container--category {
      display: flex;
      justify-content: space-between;
    }

    .appbar__container--buttons {
      display: flex;
      justify-content: space-between;
      width: 8rem;
      button {
        cursor: pointer;
        svg {
          color: $brand;
          font-size: 1.3rem;
        }
      }
    }
  }

  .layout__content--root {
    margin: 1rem;
  }

  .footer__space {
    flex-grow: 0;
    flex-basis: 230px;
    flex-shrink: 1;
  }

  @media screen and (max-width: 960px) {
    .appbar__container--category {
      margin: 0;
      width: 14rem;
    }
  }

  @media screen and (min-width: 960px) {
    .appbar__container--category {
      margin: 0 2rem;
      width: 25rem;
    }
  }
}
