@import '@common/styles/base';

.layout__root {
  max-width: 1000px;
  min-width: 735px;
  width: 100%;
  margin: 0 auto;
  padding-top: 24px;
  display: flex;
  flex-direction: column;

  .appbar__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
    padding: 0 0.8rem;

    img {
      display: block;
      width: 115px;
      height: 30px;
    }

    .appbar__container--category {
      display: flex;
      justify-content: space-between;
      .appbar__container--link {
        list-style: none;
        padding-left: 0;
        .appbar__link {
          cursor: pointer;
          &:hover {
            color: $brand;
          }
        }
      }
    }

    .appbar__container--buttons {
      display: flex;
      justify-content: space-between;
      list-style: none;
      padding-left: 0;
      li {
        display: inline-flex;
        align-items: flex-end;
        flex-direction: column;
        position: relative;
        button {
          cursor: pointer;
          svg {
            color: $brand;
            font-size: 1.3rem;
          }
        }
      }

      &.signIn {
        width: 8rem;
      }
      &.signOut .Button {
        margin-left: 5px;
      }
    }
  }

  .layout__content--root {
    margin: 1rem;
  }

  .footer__space {
    flex-grow: 0;
    flex-basis: 230px;
    flex-shrink: 1;
  }

  @media screen and (max-width: 960px) {
    .appbar__container--category {
      margin: 0;
      width: 14rem;
    }
  }

  @media screen and (min-width: 960px) {
    .appbar__container--category {
      margin: 0 2rem;
      width: 25rem;
    }
  }
}
