.layout__root {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding-top: 24px;
  display: flex;
  flex-direction: column;

  .appbar__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;

    img {
      display: block;
      width: 115px;
      height: 30px;
    }

    .appbar__link {
      cursor: pointer;
    }

    .appbar__container--buttons button {
      margin-left: 1rem;
    }
  }

  .layout__content--root {
    margin: 1rem;
  }

  .footer__space {
    flex-grow: 0;
    flex-basis: 230px;
    flex-shrink: 1;
  }
}
