@import '@common/styles/base';

.DropDownWrapper {
  top: 2.4rem;
  right: -0.6rem;
  position: absolute;
  background: $bg-white;
  flex-direction: column;
  width: min-content;
  height: fit-content;
  border: 1px solid $line-gray;
  border-radius: 5px;
  padding-top: 10px;
  box-shadow: 1px 1px 1px $line-gray;
  z-index: 1;

  &.visible {
    display: flex;
  }
  &.none {
    display: none;
  }

  &:after,
  &:before {
    bottom: 100%;
    left: 90%;
    border: solid transparent;
    content: '';
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }

  &:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: $bg-white;
    border-width: 15px;
    margin-left: -15px;
  }
  &:before {
    border-color: rgba(219, 219, 219, 0);
    border-bottom-color: $line-gray;
    border-width: 16px;
    margin-left: -16px;
  }

  .menuHeader {
    display: flex;
    align-items: center;
    margin: 0 10px 10px 10px;
    .title {
      font-weight: 500;
    }
    svg {
      font-size: 0.7rem !important;
      margin-top: 7px;
      color: $font-gray !important;
    }
  }

  .signOut {
    border-top: 1px solid $line-gray;
    background-color: $bg-gray;
    color: $font-gray;
    font-size: 0.9rem;
    padding: 3px 0 3px 10px;
    cursor: pointer;
  }
}
