@import '../../common/styles/base';

.Box {
  display: flex;
  width: fit-content;
  padding: 10px 20px;
  white-space: pre-line;
  border-radius: 5px;
  color: $font-black;

  .bold {
    font-weight: 500;
  }

  div + div {
    margin-left: 25px;
  }

  &.gray {
    background-color: $bg-gray;
  }
  &.brand {
    background-color: $bg-brand;
    border: $brand;
  }

  &.fullWidth {
    width: 100%;
    justify-content: center;
  }
}
