$text-light: hsl(0, 0, 100%);
$text-20: hsl(0, 0, 20%);
$text-60: hsl(0, 0%, 60.8%);
$text-dark: hsl(0, 0, 0%);

$primary: hsl(0, 0, 25);
$primary-light: hsl(0, 0, 100%);
$primary-dark: darken($primary, 25);

@function primary-color($num) {
  @return adjust-color($primary-dark, $lightness: $num);
}

$background-dark: hsl(0, 0, 28%);
//배경의 전체 색 조정

$background-light: hsl(0, 0, 100%);

@function background-color($num) {
  @return adjust-color($background-dark, $lightness: $num);
}

/* background 색상 대체
20(#767171 대체) 35(#969696 #9e9e9e 대체) 55(#cccccc #cacaca 대체)
60(#d6d6d6대체) 65(#e7e6e6 #e6e5e5 대체) 70(# f2f2f2 대체)
74(#f8f8f8 대체) */

$accent-dark: #903b32;
$accent-light: red;
