@import '../../common/styles/base';

.searchbar__container {
  input {
    width: 12rem;
    height: 2rem;
    background-color: #f8f8fa;
    border: none;
    border-radius: 5px;
    padding: 0 30px 0 10px;
    &:focus {
      outline: none;
    }
  }
  button {
    position: relative;
    right: 30px;
    bottom: -2px;
    width: 3px;
    cursor: pointer;
  }
}
