@import '@common/styles/base';
.PasswordChangeModalWrapper {
  input {
    border: 1px solid $line-gray;
    border-radius: 5px;
    padding: 10px;
    font-size: 1rem;
    width: 100%;
  }
  .inputPart {
    margin: 20px 0;
  }
  .error {
    color: $error;
    font-size: 0.9rem;
    font-weight: 500;
  }
}
