.CardList {
  display: flex;
  margin: 0.5rem 0 2rem 0;
}

@media screen and (max-width: 1000px) {
  .CardList {
    flex-direction: column;
  }
}

@media screen and (min-width: 1000px) {
  .CardList {
    flex-wrap: wrap;
    width: 60.5rem;
  }
}
