@import '@common/styles/base';

.container {
  margin: 20px 3rem;

  section {
    margin: 20px 0;
  }

  .views {
    color: $font-gray;
    font-size: 0.9rem;
  }
  .startDiv {
    display: flex;
    justify-content: space-between;
  }
  .name {
    font-size: 1.2rem;
    font-weight: 500;
  }
  .Tag {
    font-size: 0.9rem;
  }
}
